os:
  - linux
  - osx

dist: trusty

language: node_js
node_js:
  - 8
  - 9
  - 10

#
# The last test is required to avoid issues with peer dependencies upon
# `npm install`.
#
# See:
#   https://github.com/npm/npm/issues/4749
#   https://stackoverflow.com/questions/33816824/getting-npm-err-code-epeerinvalid-on-npm-packages-global-install
#
before_install:
  - npm install -g npm@latest
  - npm install -g greenkeeper-lockfile@1

before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload

script:
  - commitlint --from=9ba0865d20976bae14fa9824acfbdb2e5982c3ad
  - travis_retry npm run test
  - travis_retry npm run report:coverage

after_success:
  - npm run travis-deploy-once "npm run semantic-release"
